
body {
	background-image: url(../img/login.jpg);

	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	height: auto;
}

#login-container{
	width: 450px;
	height: 300px;
	background-color: white;
	border-radius: 5px;
    margin-top: 10%;
    margin-left: 33%;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: center;
	position: relative;
}

#login-container h3{
	font-family: sans-serif;
	font-weight: 600;
	color: #0a7eb3;
	order: 0;
	margin-top: 13px;
	margin-bottom: 6px;
	margin-left: 13%;
	/*align-self: 50%;*/
	/*flex-basis: 60%;*/

}

.userName{
	height: 40px;
	width: 280px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-indent: 10px;
	font-size: 15px;
	flex-flow: 1;
	margin-top: 5px;
	/* margin-left: 2%; */
	/*flex-basis: 50%;*/
	/*align-self: 50%;*/
}



.password{
	height: 40px;
	width: 280px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-indent: 10px;
	margin-top: 5px;
	/* margin-left: 2%; */
	flex-flow: 1;
	/*flex-basis: 50%;*/
}

.yzm{
	height: 37px;
	width: 280px;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-indent: 10px;
	margin-bottom: 0px;
	margin-top: 0px;

	/* margin-left: 2%; */

	/*flex-basis: 50%;*/
}


.forgetPass{
	text-decoration: none;
	color:#0a7eb3;
	font-size: 12px;
	position: absolute;
	right: 80px;

}

.loginBtn{
	position: relative;
	height: 40px;
	width: 279px;
	border-radius: 5px;
	border: none;
	text-indent: -10px;
	background-color: #0a7eb3;
	color: white;
	font-size: 16px;
	margin-top: 10px;
	/* margin-left: 2%; */
	/*flex-basis: 50%;*/
}

.loginBtn a{
	color: white;
	text-decoration: none;
}

.loginBtn .loading{
	margin-top: -5px;
	position: absolute;
	right: 10px;
}
.register-btn{
	text-decoration: none;
	color:#0a7eb3;
	font-size: 16px;
}
.register{
		position: absolute;
		margin-top: 5px;
}


/*.loginBtn1{*/
/*	position: relative;*/
/*	display:inline-block;*/
/*	height: 36px;*/
/*	width: 60px;*/
/*	border-radius: 5px;*/
/*	border: none;*/
/*	!*text-indent: -10px;*!*/
/*	!*background-color: #7697b3;*!*/
/*	color: white;*/
/*	font-size: 21px;*/
/*	margin-top: 0px;*/
/*	 margin-left: -65px;*/
/*	padding-left: 4px;*/
/*	padding-top: 3px;*/
/*	position: relative;*/

/*	!*flex-basis: 50%;*!*/
/*}*/

.img{
	margin-left: -56px;
	margin-bottom: -10px;
}
